:root {
	--main-border-color: #aaa;
}

html {
	height: 100%;
}
body {
	font-family: 'Open Sans';
	font-size: 80%; /*let users choose their own font size, but decrease this size a little bit as most browsers have default font size set to 16px*/
	margin: 0;
	padding: 3.5rem 1rem 1rem 1rem;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	background-color: #eee;
	border-bottom: 2px solid var(--main-border-color);
}
header > button {
	position: absolute;
	top: 0.6rem;
	right: 0.6rem;
}
h1 {
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
	padding: 0.5rem;
}
h2 {
	font-size: 0.9rem;
	font-weight: normal;
	margin: 0;
	padding: 0.2rem;
	border-bottom: 2px solid var(--main-border-color);
}
h2 > img {
	vertical-align: sub;
}
p {
	margin: 0;
	padding: 0.4rem;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0.2rem;
}
button {
	border: 2px solid var(--main-border-color);
	border-radius: 2px;
}
button:not([disabled]) {
	cursor: pointer;
}
button:hover:not([disabled]) {
	background-color: #ccc;
}
input {
	border: 2px solid #ccc;
	border-radius: 2px;
}
input:focus {
	border: 2px solid var(--main-border-color);
	box-shadow: none;
}
input:invalid {
	border: 2px solid #d43f3a;
	box-shadow: none;
}

/* popups */
.popup {
	position: fixed;
	top: 20%;
	border: 5px solid var(--main-border-color);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 1rem;
	z-index: 2;
}

#connect {
	left: calc(50% - 15rem);
	width: 30rem;
	height: 10rem;
	background-color: #eee;
	border-color: var(--main-border-color);
}
#connect > div {
	position: absolute;
	padding: 1rem;
	box-sizing: border-box;
}
#connect > menu {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: right;
	margin: 0;
	padding: 1rem;
	box-sizing: border-box;
}
#connect label span {
	float: left;
	width: 6rem;
	padding-top: 0.2rem;
}

.incoming_call {
	left: calc(50% - 10rem);
	width: 20rem;
	background-color: #dff0d8;
	border-color: #468847;
	color: #468847;
	text-align: center;
}

/* error */
#error {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	padding: 1rem;
	box-sizing: border-box;
	z-index: 2;
	background-color: #f2dede;
	border-bottom: 2px solid #b94a48;
	color: #b94a48;
}
#error:empty {
	display: none;
}

.column {
	position: relative;
	float: left;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	box-sizing: border-box;
	width: 20rem;
	height: 100%;
	margin-right: 1rem;
	border: 2px solid var(--main-border-color);
	border-radius: 2px;
}
.column_header {
	align-self: flex-start;
	box-sizing: border-box;
	width: 100%;
	background-color: #ddd;
}
.column_header img {
	margin: 0.1rem 0.1rem 0 0;
}
.column_content {
	flex-grow: 2;
	overflow: auto;
}
.column_footer {
	align-self: flex-end;
	box-sizing: border-box;
	width: 100%;
	padding: 0.2rem;
	background-color: #ddd;
	border-top: 2px solid var(--main-border-color);
}
.column_footer input {
	width: 15rem;
}
/* contact column */
#users {
	margin: 0;
	padding: 0;
}
#users > li {
	cursor: pointer;
	padding: 0.4rem;
}
#users > li:hover {
	background-color: #ddd;
}
#connect > input {
	width: 10rem;
}
/* calls columns */
.messages > li > time {
	font-size: 0.6rem;
	color: #ccc;
}
.messages > li > span.user {
	font-size: 0.6rem;
	color: #aaa;
	margin-left: 0.5rem;
}
.messages > li > span.message {
	color: #333;
	margin-left: 0.5rem;
}
.messages > li > span.message img {
	max-width: 80%;
}
